$background: #000000;
$foreground: #101010;
$text-color: #FEFEFE;
$text-selected: #ffb81f;
$text-sub: #818181;
$mobile-breakpoint: 768px;

body {
    padding: 0;
    margin: 0;
    background-color: $background;
    scroll-behavior: smooth;
}

* {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: $text-color;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    padding: 100px;
    gap: 48px;

    .root-avatar {
        height: 100px;
        width: 100px;
        border-radius: 360px;
    }

    .title-text {
        padding: 10px;
        margin: 0;
        font-size: 32px;
        color: $text-color;
        letter-spacing: -1px;

        .framed-text {
            color: $text-selected;
            font-weight: bold;
        }
    }

    .generic-list {

        &__title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            h2 {
                color: $text-selected;
                font-weight: 500;
                font-size: 18px;
            }
        }

        &__element {
            display: flex;
            flex-direction: row;
            gap: 24px;
            min-height: 56px;
            text-decoration: none;
            padding: 30px 10px;
            background-color: $background;
            border-radius: 20px;

            transition: 500ms background-color;


            &:last-child {
                margin-bottom: 0px;
            }

            .element-image {
                height: 56px;
                width: 56px;
                border-radius: 360px;
            }

            .element-details {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h3 {
                    font-size: 20px;
                    color: #FEFEFE;
                    vertical-align: middle;
                    margin: 5px 0px;
                }

                p {
                    font-size: 14px;
                    color: $text-sub;
                }

                * {
                    margin: 0;
                    padding: 0;
                }
            }

            &:hover {
                background-color: $foreground;
            }
        }
    }

    .bio {
        h2 {
            font-size: 18px;
            color: $text-sub;
            text-decoration: underline;
        }

        p {
            font-size: 16px;
            color: $text-sub;
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .content {
        margin-top: 24px;
        padding: 24px;
        max-width: none;
    }

    .generic-list {
        &__element {
            
        }
    }
}